<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link type="text/css" rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}" /> 
<script src="https://kit.fontawesome.com/17a4ce7e95.js" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/script.js}" defer></script>
<title th:if="${me}" th:text="mybag"></title>
<title th:unless="${me}" th:text="${user.username} + '\'s bag'"></title>
</head>
<body>
	<header>
		<div class="nav" th:replace="fragments/topnav :: navbar"></div>
	</header>
	<div class="d-flex justify-content-between container">
		<div class="flex-item">
			<div class="side-container"></div>
		</div>
		<div class="flex-item table-container">
			<h1 th:if="${me}" th:text="${me.username} + '\'s virtual discgolf bag'"></h1>
			<h1 th:unless="${me}" th:text="${user.username} + '\'s virtual discgolf bag'"></h1>
			<p>Here is your disc selection.</p>
			<table class="table table-dark table-striped table-hover list">
				<tr>
					<th></th>
					<th>TYPE</th>
					<th></th>
					<th>PLASTIC</th>
					<th></th>
					<th>NAME</th>
					<th></th>
					<th>
						ATTRIBUTES
						<br>
						S | G | T | F
					</th>
					<th></th>
					<th>COMPANY</th>
					<th></th>
					<th th:if="${me}" sec:authorize="hasAnyAuthority('USER', 'ADMIN')"></th>
					<th th:if="${user} and ${bag.contains(disc)}" sec:authorize="hasAnyAuthority('USER', 'ADMIN')"></th>
					<th th:unless="${user} and ${bag.contains(disc)}" sec:authorize="hasAnyAuthority('USER', 'ADMIN')"></th>
				</tr>
				<tr th:each = "disc : ${bag}">
					<td></td>
					<td th:text="${disc?.category?.getCapitalizedName}"></td>
					<td></td>
					<td th:text="${disc?.plastic?.getCapitalizedName}"></td>
					<td></td>
					<td th:text="${disc.getCapitalizedName}"></td>
					<td></td>
					<td th:text="${disc.speed} + ' | ' + ${disc.glide} + ' | ' + ${disc.turn} + ' | ' + ${disc.fade}"></td>
					<td></td>
					<td th:text="${disc?.company?.getCapitalizedName}"></td>
					<td></td>
					<td th:if="${me}" sec:authorize="hasAnyAuthority('USER', 'ADMIN')">
						<a class="btn btn-warning" th:href="@{/bags/remove/{id}(id=${disc.id})}" >Remove</a>
					</td>
					<td th:if="${user} and ${!bag.contains(disc)}" sec:authorize="hasAnyAuthority('USER', 'ADMIN')">
						<a class="btn btn-success" th:href="@{/users/{userid}/add/{discid}(userid=${user.id}, discid=${disc.id})}" >Add</a>
					</td>
					<td th:unless="${user} and ${!bag.contains(disc)}" sec:authorize="hasAnyAuthority('USER', 'ADMIN')">
					</td>
					
				</tr>
			</table>
		</div>
		<div class="flex-item">
			<div class="side-container"></div>
		</div>
	</div>
</body>
</html>