<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link type="text/css" rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}" /> 
<script src="https://kit.fontawesome.com/17a4ce7e95.js" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/script.js}" defer></script>
<title>Storage</title>
</head>
<body>
	<header>
		<div class="nav" th:replace="fragments/topnav :: navbar"></div>
	</header>
	
	<div class="container main-container">
		<div>
			<h1>Companies</h1>
			<p>Here you can find all companies.</p>
			
			<form class="form-inline add-form" th:action="@{/companies/save}" action="#" method="post" sec:authorize="hasAuthority('ADMIN')">
				<input class="form-control mr-sm-2" type="text" id="name" placeholder="Name new company" th:field="${company.name}" />
				<button class="btn btn-success" type="submit" >Add</button>
			</form>
			
			<form class="form-inline search-bar" action="#" th:action="@{/companies}" method="GET">
				<input class="form-control mr-sm-2" type="search" placeholder="Search companies" aria-label="Search" name="keyword" id="txtSearch" />
				<button class="btn btn-outline-succes my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
			</form>
			
			<table class="table table-dark table-striped table-hover">
				
				<tr>
					<th>NAME</th>
					<th sec:authorize="hasAuthority('ADMIN')"></th>
					<th sec:authorize="hasAuthority('ADMIN')"></th>
				</tr>	
							
				<tr th:each = "c : ${companies}">

					<th><a class="link-white" th:href="@{/companies/company/{id}(id=${c.id})}" th:text="${c.getCapitalizedName}"></a></th>
					<td sec:authorize="hasAuthority('ADMIN')">
						<form class="form-inline add-form" th:action="@{/companies/save/{id}(id=${c.id})}" action="#" method="post" sec:authorize="hasAuthority('ADMIN')">
							<input class="form-control mr-sm-2" type="text" id="name" placeholder="Change the name" th:field="${company.name}" required/>
							<button class="btn btn-success" type="submit" >Save</button>
						</form>
					</td>
					<td sec:authorize="hasAuthority('ADMIN')">
						<a 
							class="btn btn-danger" 
							th:href="@{/companies/delete/{id}(id=${c.id})}" 
							onclick="return confirm('Are you sure you wish to delete')" >
								Delete
						</a>
					</td>
					
				</tr>
				
			</table>
			
		</div>
	</div>
	
</body>
</html>