<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link type="text/css" rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}" /> 
<script src="https://kit.fontawesome.com/17a4ce7e95.js" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/script.js}" defer></script>
<title>Add disc</title>
</head>
<body>
	<header>
		<div class="nav" th:replace="fragments/topnav :: navbar"></div>
	</header>
	<div class="clear"></div>
	<div class="d-flex justify-content-between container">
		<div class="flex-item">
			<div class="side-container"></div>
		</div>
		<div class="flex-item form-container">
			<div>
				<h1>Add disc</h1>
				<form id="add" th:object="${disc}" th:action="@{/save}" action="#" method="post">
				
					<div class="form-group form-flex">
						<label hidden="hidden" for="id">Id</label>
						<input class="form-control" type="hidden" id="id" th:field="${disc.id}" required />
						<span>
							<label for="name">Name</label>
							<input class="form-control" type="text" id="name" placeholder="Name the disc" th:field="${disc.name}" required />
						</span>
						<div class="clear-width"></div>
						<span>
							<label for="plastic">Plastic</label>
							<input class="form-control" type="text" id="plastic" placeholder="What plastic" th:field="${disc.plastic}" required />
						</span>
					</div>
					<div class="form-group form-flex">	
						<span>
							<label for="category">Type</label>
							<select class="form-control" id="category" th:field="*{category}" style="max-width: 200px" required >
								<option value="" th:disabled selected >Choose the type</option>
								<option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
							</select>
						</span>
						<div class="clear-width"></div>
						<span>
							<label for="company">Company</label>
							<select class="form-control" id="company" th:field="*{company}" style="max-width: 200px" required >
								<option value="" th:disabled selected >Choose the company</option>
								<option th:each="company: ${companies}" th:value="${company.id}" th:text="${company.name}"></option>
							</select>
						</span>
					</div>
					
					<div class="form-group form-flex">
						<span>
							<label for="speed">Speed</label>
							<input class="form-control" type="number" id="speed" min="0" max="16" th:field="${disc.speed}" />
						
							<label for="turn">Turn</label>
							<input class="form-control" type="number" id="turn" min="-6" max="3" th:field="${disc.turn}" />
						</span>
						<div class="clear-width"></div>
						<span>
							<label for="glide">Glide</label>
							<input class="form-control" type="number" id="glide" min="0" max="6" th:field="${disc.glide}" />
	
							<label for="fade">Fade</label>
							<input class="form-control" type="number" id="fade" min="0" max="4" th:field="${disc.fade}" />
						</span>
					</div>
					<div class="form-group form-flex">
						<button class="btn btn-secondary" type="submit">Save</button>
						<button class="btn" type="reset">Reset</button>
					</div>
				</form>
			</div>
		</div>
		<div class="flex-item">
			<div class="side-container"></div>
		</div>
	</div>
</body>
</html>