<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link type="text/css" rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}" /> 
<script src="https://kit.fontawesome.com/17a4ce7e95.js"></script>

<title th:text="#{edit} + ' ' + #{disc}">Edit disc</title>
</head>
<body>
	<header>
		<div class="nav" th:replace="fragments/topnav :: navbar"></div>
	</header>
	<div class="clear"></div>
	<div class="d-flex justify-content-between container">
		<div class="flex-item">
			<div class="side-container"></div>
		</div>
		<div class="flex-item main-container">
			<div>
				<div class="text-box">
					<h1 th:text="#{edit} + ' ' + #{disc}">Edit disc</h1>
					<p th:text="#{edit_disc_text}">As a admin you can edit disc properties</p>
				</div>
				<form th:object="${disc}" th:action="@{/discs/save}" action="#" method="post">
				
					<div class="d-flex form-group">
						<label hidden="hidden" for="id">Id</label>
						<input class="form-control" type="hidden" id="id" th:field="${disc.id}" required />
						<span>
							<label for="name" th:text="#{name}">Name</label>
							<input class="form-control" type="text" id="name" th:placeholder="#{new_disc}" placeholder="Name the disc" th:field="${disc.name}" style="max-width: 200px" required />
						</span>
						<div class="clear-width"></div>
						<span>
							<label for="category" th:text="#{type}">Type</label>
							<select class="form-control" id="category" th:field="*{category}" style="max-width: 200px" required >
								<option value="" th:disabled selected th:text="#{choose_type}">Choose the type</option>
								<option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.getCapitalizedName}"></option>
							</select>
						</span>
					</div>
					<div class="d-flex form-group">	
					
						<span>
							<label for="company" th:text="#{company}">Company</label>
							<select class="form-control" id="company" th:field="*{company}" style="width: 200px" required onchange="showPlastics()">
								<option value="" th:disabled selected th:text="#{choose_company}">Choose the company</option>
								<option th:each="company: ${companies}" th:value="${company.id}" th:text="${company.getCapitalizedName}"></option>
							</select>
						</span>
						<div class="clear-width"></div>
						<span>
							<label for="plastic" th:text="#{plastic}">Plastic</label>
							<select class="form-control" id="plastic" th:field="*{plastic}" style="width: 200px" required >
								<option value="" th:disabled selected th:text="#{choose_type}">Choose the type</option>
								<option th:each="plastic: ${plastics}" th:value="${plastic.id}" th:text="${plastic.getCapitalizedName}"></option>
							</select>
						</span>
						
						<div class="clear-width"></div>
						
					</div>
					
					<div class="d-flex form-group">
						<span class="span">
							<label for="speed" th:text="#{speed}">Speed</label>
							<input class="form-control" type="number" id="speed" min="0" max="16" th:field="*{speed}" required />
						</span>
						<span class="span">
							<label for="glide" th:text="#{glide}">Glide</label>
							<input class="form-control" type="number" id="glide" min="0" max="6" th:field="*{glide}" required />
						</span>
						<span class="span">
							<label for="turn" th:text="#{turn}">Turn</label>
							<input class="form-control" type="number" id="turn" min="-5" max="4" th:field="*{turn}" required />
						</span>
						<span class="span">
							<label for="fade" th:text="#{fade}">Fade</label>
							<input class="form-control" type="number" id="fade" min="0" max="5" th:field="*{fade}" required />
						</span>
					</div>
					<div class="form-group form-flex">
						<button class="btn btn-secondary" type="submit" th:text="#{save}">Save</button>
						<button class="btn" type="reset" th:text="#{reset}">Reset</button>
					</div>
				</form>
			</div>
		</div>
		<div class="flex-item">
			<div class="side-container"></div>
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
	</script>
	<script type="text/javascript">
	$(document).ready(function() {
	    $("#locales").change(function () {
	        var selectedOption = $('#locales').val();
	        if (selectedOption != ''){
	            window.location.assign('?lang=' + selectedOption);
	        }
	    });
	});
	</script>
</body>
</html>