<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link type="text/css" rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}" /> 
<script src="https://kit.fontawesome.com/17a4ce7e95.js" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/script.js}" defer></script>
<title>Storage</title>
</head>
<body>
	<header>
		<div class="nav" th:replace="fragments/topnav :: navbar"></div>
	</header>
	<div class="d-flex justify-content-between container">
		
		<div class="flex-item">
			<div class="side-container"></div>
		</div>
		
		<div class="flex-item table-container">
			<h1>Storage</h1>
			<p>Here you can find all discs available.</p>
			
			<div class="add-btn" sec:authorize="hasAuthority('ADMIN')">
				<a class="btn btn-success" th:href="@{/discs/storage/addnew}" >Add</a>
			</div>
			
			<form class="form-inline search-bar" action="#" th:action="@{/discs/storage}" method="GET">
				<input class="form-control mr-sm-2" type="search" placeholder="Search discs" aria-label="Search" name="keyword" id="txtSearch" />
				<button class="btn btn-outline-succes my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
			</form>
			
			<table class="table table-dark table-striped table-hover list">
				
				<tr>
					<th></th>
					<th>TYPE</th>
					<th></th>
					<th>PLASTIC</th>
					<th></th>
					<th>NAME</th>
					<th></th>
					<th>
						ATTRIBUTES
						<br>
						S | G | T | F
					</th>
					<th></th>
					<th>COMPANY</th>
					<th></th>
					<th th:if="${bag.contains(disc)}" sec:authorize="hasAnyAuthority('USER', 'ADMIN')"></th>
					<th th:if="${!bag.contains(disc)}" sec:authorize="hasAnyAuthority('USER', 'ADMIN')"></th>
					<th sec:authorize="hasAuthority('ADMIN')"></th>
					<th sec:authorize="hasAuthority('ADMIN')"></th>
				</tr>	
							
				<tr th:each = "disc : ${discs}">
					<td></td>
					<td th:text="${disc?.category?.name}"></td>
					<td></td>
					<td th:text="${disc?.plastic?.name}"></td>
					<td></td>
					<td th:text="${disc.name}"></td>
					<td></td>
					<td th:text="${disc.speed} + ' | ' + ${disc.glide} + ' | ' + ${disc.turn} + ' | ' + ${disc.fade}"></td>
					<td></td>
					<td th:text="${disc?.company?.name}"></td>
					<td></td>
					<td th:if="${!bag.contains(disc)}" sec:authorize="hasAnyAuthority('USER', 'ADMIN')">
						<a class="btn btn-success" th:href="@{/discs/storage/add/{id}(id=${disc.id})}" >Add</a>
					</td>
					<td th:if="${bag.contains(disc)}" sec:authorize="hasAnyAuthority('USER', 'ADMIN')">
					</td>
					<td sec:authorize="hasAuthority('ADMIN')">
						<a class="btn btn-success" th:href="@{/discs/storage/editdisc/{id}(id=${disc.id})}" >Edit</a>
					</td>
					<td sec:authorize="hasAuthority('ADMIN')">
						<a 
							class="btn btn-danger" 
							th:href="@{/discs/storage/deletedisc/{id}(id=${disc.id})}" 
							onclick="return confirm('Are you sure you wish to delete')" >
								Delete
						</a>
					</td>
					
				</tr>
				
			</table>
			
		</div>

		<div class="flex-item">
			<div class="side-container"></div>
		</div>
	</div>
</body>
</html>