<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link type="text/css" rel="stylesheet" href="css/styles.css" th:href="@{css/styles.css}" /> 
<script src="https://kit.fontawesome.com/17a4ce7e95.js" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/script.js}" defer></script>
<title>Users</title>
</head>
<body>
	<header>
		<div class="nav" th:replace="fragments/topnav :: navbar"></div>
	</header>
	
	<div class="d-flex justify-content-between container">
		<div class="flex-item">
			<div class="side-container"></div>
		</div>
		<div class="flex-item main-container">
			<div>
				<div class="text-box">
					<h1>Users</h1>
					<div class="add-btn" sec:authorize="hasAuthority('ADMIN')">
						<a class="btn btn-success" th:href="@{/adduser}" >Add</a>
					</div>
				</div>
				<table class="table table-striped">
					<tr>
						<th></th>
						<th>USERNAME</th>
						<th></th>
						<th sec:authorize="hasAuthority('ADMIN')"></th>
						<th sec:authorize="hasAuthority('ADMIN')"></th>
					</tr>
					<tr th:each = "user : ${users}">
						<td></td>
						<td th:text="${user.username}"></td>
						<td></td>
						<td sec:authorize="hasAuthority('ADMIN')">
							<a class="btn btn-success" th:href="@{/edituser/{id}(id=${user.id})}" >Edit</a>
						</td>
						<td sec:authorize="hasAuthority('ADMIN')">
							<a 
								class="btn btn-danger" 
								th:href="@{/deleteuser/{id}(id=${user.id})}" 
								onclick="return confirm('Are you sure you wish to delete')" >
									Delete
							</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="flex-item">
			<div class="side-container"></div>
		</div>
	</div>
</body>
</html>